/.cache
/check-win-api
/compile_commands.json
/crosscc
/crosscc.exe
/crosscc.json
/crosscc.d
/crosscc.o
/crosscc.o.json
/src/execute.d
/src/execute.o
/src/execute.json
/src/context.d
/src/context.o
/src/context.json
/src/options.d
/src/options.o
/src/options.json
/src/tools.d
/src/tools.o
/src/tools.json
/src/utils.d
/src/utils.o
/src/utils.json
/test/crosscc_test
/test/crosscc_test.exe
/test/crosscc_test.json
/test/crosscc_test.d
/test/crosscc_test.o
/test/crosscc_test.o.json
/test/context_test.d
/test/context_test.o
/test/context_test.json
/test/options_test.d
/test/options_test.o
/test/options_test.json
/test/tools_test.d
/test/tools_test.o
/test/tools_test.json
/test/utils_test.d
/test/utils_test.o
/test/utils_test.json
